// Variables

$primary-font: "Lato", sans-serif;
$primary-color: gray;
$white-col: #fff;

@mixin flex_property {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin more {
  width: 120px;
  height: 40px;
  background-color: $white-col;
  border: 1px solid $primary-color;
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html {
  font-size: 15px;
  background-color: #dfdfdf;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
@import "big-wrapper";

@import "two-box";

@import "full-quote";

@import "line";

@import "four_box";

@import "footer";